In [1]:
## 패키지 import

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
## 'data_modified'에서 전치리된 csv파일을 읽어와서 분석해주십시오.
## 담당자: 김동언
lp = pd.read_csv('data_modified/real_madrid_players.csv')

In [7]:
# Point 컬럼 만들기기
lp['Point']=(lp['Overall']*2+lp['Potential'])/lp['Age']

In [8]:
lp[lp['Best Position']=='MF'][['Name','Overall','Potential','Age','Point','Joined']]
# 방출해야할 선수는 MF 포지션에서 Point가 가장 낮은 'J. Henderson' 입니다.

          Name  Overall  Potential  Age      Point        Joined
1     Casemiro       89         89   29   9.206897  Jul 11, 2013
3     T. Kroos       88         88   31   8.516129  Jul 17, 2014
4    L. Modrić       87         87   35   7.457143   Aug 1, 2012
8  F. Valverde       83         89   22  11.590909  Jul 22, 2016