In [ ]:
## 패키지 import

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [24]:
## 'data_modified'에서 전치리된 csv파일을 읽어와서 분석해주십시오.
## 담당자: 김동언

data = pd.read_csv('data_modified/team_comparison_2.csv')

In [32]:
# 각 포지션 별 리스트 작성
gk_list=['GK']
cb_list=['CB','RB','LB','RWB','LWB']
mf_list=['CAM','CM','CDM','LM','RM']
st_list=['ST','LW','RW','CF']

In [33]:
# 리버풀 선수들과 레알마드리드 선수들을 분리 (Overall 기준)
lp = data[data['Club']=='Liverpool'].sort_values(by='Overall',ascending=False)
rm = data[data['Club']=='Real Madrid CF'].sort_values(by='Overall',ascending=False)
mc = data[data['Club']=='Manchester City'].sort_values(by='Overall',ascending=False)

In [34]:
# 각 포지션별 남은 자리 숫자를 입력, 반복문 사용해서 주전선수ID 저장, 상세포지션을 'CB,MF,ST'로 변경(리버풀)
st_count=2
mf_count=4
cb_count=4
gk_count=1

lp_id=[]
for index in lp.index:
  if lp['Best Position'][index] in gk_list:
    if gk_count != 0:
      lp_id.append(lp['ID'][index])
      gk_count -= 1
  elif lp['Best Position'][index] in cb_list:
    if cb_count != 0:
      lp['Best Position'][index]='CB'
      lp_id.append(lp['ID'][index])
      cb_count -= 1
  elif lp['Best Position'][index] in mf_list:
    if mf_count != 0:
      lp['Best Position'][index]='MF'
      lp_id.append(lp['ID'][index])
      mf_count -= 1
  else:
    if st_count != 0:
      lp['Best Position'][index]='ST'
      lp_id.append(lp['ID'][index])
      st_count -= 1

In [35]:
# Point 컬럼 만들기기
lp['Point']=(lp['Overall']*2+lp['Potential'])/lp['Age']

In [37]:
lp[lp['Best Position']=='MF'][['Name','Overall','Potential','Age','Point','Joined']]
# 방출해야할 선수는 MF 포지션에서 Point가 가장 낮은 'J. Henderson' 입니다.

            Name  Overall  Potential  Age     Point        Joined
7         Thiago       86         86   30  8.600000  Sep 18, 2020
15       Fabinho       86         88   27  9.629630   Jul 1, 2018
8   J. Henderson       84         84   31  8.129032   Jun 9, 2011
33      N. Keïta       80         83   26  9.346154   Jul 1, 2018